@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.moving-text {
    background-color: rgb(232, 255, 157);
    white-space: nowrap;
    /*Preventtextwrapping*/overflow: hidden;
    /*Hideoverflowingcontent*/width: fit-content;
    /*Adjustwidthasneeded*/animation: move-text 15s linear infinite;
    -webkit-animation: move-text 15s linear infinite;
}

@keyframes move-text {
    from { transform: translateX(500%); -webkit-transform: translateX(500%); -moz-transform: translateX(500%); -ms-transform: translateX(500%); -o-transform: translateX(500%); } /* Start from right side */
    to { transform: translateX(-100%); }   /* Move to left side */
}

.container {
    background-color: bisque;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container h1 {
    color: white;
}

.nav-item {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nav-item:hover {
    background-color: red;
}